body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center {
    display: table;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#cookie-alert {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c1c1c1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 5px 2px black;
    padding: 0 15px 15px 15px;
    opacity: 1;
    -moz-transition: opacity 1s 1s;
    -o-transition: opacity 1s 1s;
    -webkit-transition: opacity 1s 1s;
    transition: opacity 1s 1s;
}

#cookie-alert[data-show="false"] {
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.home-wrapper {
    font-size: 250%;
    padding: 1em 1.5em 1.5em 1.5em;
    background: #e0e0e0;
    border-radius: 10px;
}

.nav > li:hover {
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    background: #808080;
}

.map {
    display: table;
    margin: auto;
    width: 600px;
    height: 350px;
    box-shadow: 2px 2px 4px 1px black; 
}

.newOrder {
    width: 30%;
    display: table;
    margin: auto;
    text-align: center;
}

.newOrder-label {
    display: block;
    margin: 0 0 0.1em 0;
}

.newOrder-input {
    padding: 0 1em 0 1em;
    display: block;
    width: 100%;
}

#parts {
    display: none;
}

#parts[visible="true"] {
    display: block;
}

hr {
  width: 100%;
  height: 1px;
  margin: 20px auto;
  border: none;
  background-image: linear-gradient(to right, transparent, #808080, #808080, transparent);
}

.pricing-table {
    margin-top: 4em;
    border-collapse: separate;
    border-spacing: 1em;  
}

.things-table {
    border-collapse: separate;
    border-spacing: 0.5em;  
}

.services-table {
    border-collapse: separate;
    border-spacing: 0.5em;  
}

.pricing-table tr:nth-child(1) th {
    border-bottom: 1px solid black;
    text-align: center;
}

