@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Konto zablokowane";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">Twoje konto zostało zablokowane.</h2>
</hgroup>
