@using MvcCheckBoxList.Model
@model Laundry.Models.AddServiceModel
@{
    ViewBag.Title = "Nowa usługa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewBag.Title</h1>

@using (Html.BeginForm("AddService", "Pricing", FormMethod.Post))
{
    @Html.Label("Nazwa usługi", new { @class = "center" })
    @Html.TextBoxFor(m => m.Service.Name, new { @class = "center" })
    <br />
    <div class="center">
        @Html.CheckBoxListFor(m => m.Posted.ServiceIDs, m => m.Things, s => s.Id, s => s.Name, m => m.Selected, Position.Horizontal)
    </div>
    <br />
    <input class="center btn btn-success" type="submit" value="Dodaj" />
}