@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Pralnia <i>Frania</i> online</h1>
    <p class="lead">Dla większości pralni to sfera marzeń - my je zrealizowaliśmy.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>