@{
    ViewBag.Title = "Strona główna";
}

<div class="home-wrapper">
    <h1 class="text-center">Pralnia <i>Frania</i> online</h1>
    <p class="lead">Dla większości pralni to sfera marzeń - my je zrealizowaliśmy.</p>
    <p class="center"><a href="/Home/About" class="btn btn-info">Więcej &raquo;</a></p>
</div>